h1{
	font-family: Cloister Black;
	text-align: center;
	color: white ;
	font-size: 150px;

}
body{
 background: url(https://images.unsplash.com/photo-1612527846486-ee50d5702d09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmVkJTIwY2xvdWR8ZW58MHx8MHx8&w=1000&q=80) no-repeat center center fixed; 
background-size: cover;
background-size: cover;
background-size: cover;
  background-size: cover;
}
p{
	font-family: coluna;
	text-align: center;
	font-size: 20px;
	color: white;
}
h2{
    font-family: Cloister Black;
	text-align: center;
	color: white ;
	font-size: 40px;

}
.img1{

	border-radius: 1000px;

}